@import (reference) "../mixins.less";

@weight_light:		300;
@weight_book:		normal; // 400
@weight_medium:		500;
@weight_semibold:	600;
@weight_bold:		bold; // 700

@green: #0a8242;
@white: #fff;
@gray: #4d5057;
@black: #232621;
@beige: #cbd4c2;
