@import (reference) "mixins.less";

@design_width: 1280;

.width(@size) 			{width: 			1vw * ((@size / @design_width) * 100)}
.height(@size) 			{height: 			1vw * ((@size / @design_width) * 100)}

.max-width(@size) 		{max-width: 		1vw * ((@size / @design_width) * 100)}
.max-height(@size) 		{max-height: 		1vw * ((@size / @design_width) * 100)}

.min-width(@size) 		{min-width: 		1vw * ((@size / @design_width) * 100)}
.min-height(@size) 		{min-height: 		1vw * ((@size / @design_width) * 100)}

.font-size(@size) 		{font-size: 		1vw * ((@size / @design_width) * 100)}
.line-height(@size) 	{line-height: 		1vw * ((@size / @design_width) * 100)}

.top(@size) 			{top: 				1vw * ((@size / @design_width) * 100)}
.right(@size) 			{right: 			1vw * ((@size / @design_width) * 100)}
.bottom(@size) 			{bottom: 			1vw * ((@size / @design_width) * 100)}
.left(@size) 			{left: 				1vw * ((@size / @design_width) * 100)}

.margin-top(@size) 		{margin-top: 		1vw * ((@size / @design_width) * 100)}
.margin-right(@size) 	{margin-right: 		1vw * ((@size / @design_width) * 100)}
.margin-bottom(@size) 	{margin-bottom: 	1vw * ((@size / @design_width) * 100)}
.margin-left(@size) 	{margin-left: 		1vw * ((@size / @design_width) * 100)}

.padding-top(@size) 	{padding-top: 		1vw * ((@size / @design_width) * 100)}
.padding-right(@size) 	{padding-right: 	1vw * ((@size / @design_width) * 100)}
.padding-bottom(@size) 	{padding-bottom: 	1vw * ((@size / @design_width) * 100)}
.padding-left(@size) 	{padding-left: 		1vw * ((@size / @design_width) * 100)}

.border-width(@size) 	{border-width: 		1vw * ((@size / @design_width) * 100)}

@weight_light:		300;
@weight_book:		normal; // 400
@weight_medium:		500;
@weight_semibold:	600;
@weight_bold:		bold; // 700

@blue: #3F4DFC;
@gray: #454545;