@import (reference) "_common.less";
@import (reference) "../mixins.less";

#index {
	#slideshow {
		.swiper-slide {
			img {
				width: 100%;
			}
		}
	}
	h1 {
		font-weight: @weight_semibold;
		margin-top: 1em;
	}
	.ingress {
		margin-top: 1em;
	}
}
